___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [2]:
import pandas as pd
import numpy as np

In [25]:
from numpy.random import randn
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [186]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [28]:
df1= pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns= 'W X Y Z'.split())
df1

          W         X         Y         Z
A -0.848077  0.605965 -2.018168  0.740122
B  0.528813 -0.589001  0.188695 -0.758872
C -0.933237  0.955057  0.190794  1.978757
D  2.605967  0.683509  0.302665  1.693723
E -1.706086 -1.159119 -0.134841  0.390528

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [187]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [30]:
df1[['W','Y']]

          W         Y
A -0.848077 -2.018168
B  0.528813  0.188695
C -0.933237  0.190794
D  2.605967  0.302665
E -1.706086 -0.134841

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [190]:
type(df['W'])

pandas.core.series.Series

In [32]:
type(df1['Z'])

pandas.core.series.Series

**Creating a new column:**

In [42]:
df['new'] = df['W'] + df['Y']

In [48]:
df1['7']= [1,2,3,4,5]

In [65]:
df1.drop('7', axis=1,inplace= True)
df1

          W         X         Y         Z
A -0.848077  0.605965 -2.018168  0.740122
B  0.528813 -0.589001  0.188695 -0.758872
C -0.933237  0.955057  0.190794  1.978757
D  2.605967  0.683509  0.302665  1.693723
E -1.706086 -1.159119 -0.134841  0.390528

** Removing Columns**

In [193]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [194]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [195]:
df.drop('new',axis=1,inplace=True)

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

** Selecting Rows**

In [198]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [66]:
df1.loc['B']

W    0.528813
X   -0.589001
Y    0.188695
Z   -0.758872
Name: B, dtype: float64

Or select based off of position instead of label

In [199]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y']

-0.84807698340363147

In [201]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [202]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [203]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [204]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [70]:
#df[df['W']>0]
df1[df1['W']>0]['Z']

B   -0.758872
D    1.693723
Name: Z, dtype: float64

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [207]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

In [73]:
df[(df['W']>0) & (df['Y'] > 1)]

          W         X         Y         Z       new  Z1
E  0.190794  1.978757  2.605967  0.683509  2.796762   5

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [110]:
df1.reset_index()

  level_0  level_1         A         B
0      G1        1 -0.376519  0.230336
1      G1        2  0.681209  1.035125
2      G1        3 -0.031160  1.939932
3      G2        1 -1.005187 -0.741790
4      G2        2  0.187125 -0.732845
5      G2        3 -1.382920  1.482495

AttributeError: 'DataFrame' object has no attribute 'column'

In [75]:
newind = 'CA NY WY OR CO'.split()

In [76]:
df['States'] = newind

In [77]:
df

          W         X         Y         Z       new  Z1 States
A  2.706850  0.628133  0.907969  0.503826  3.614819   1     CA
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959   2     NY
C -2.018168  0.740122  0.528813 -0.589001 -1.489355   3     WY
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542   4     OR
E  0.190794  1.978757  2.605967  0.683509  2.796762   5     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [81]:
df1.set_index('Z')

                  W         X         Y
Z
 0.740122 -0.848077  0.605965 -2.018168
-0.758872  0.528813 -0.589001  0.188695
 1.978757 -0.933237  0.955057  0.190794
 1.693723  2.605967  0.683509  0.302665
 0.390528 -1.706086 -1.159119 -0.134841

In [82]:
df1

          W         X         Y         Z
A -0.848077  0.605965 -2.018168  0.740122
B  0.528813 -0.589001  0.188695 -0.758872
C -0.933237  0.955057  0.190794  1.978757
D  2.605967  0.683509  0.302665  1.693723
E -1.706086 -1.159119 -0.134841  0.390528

In [83]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [96]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3,]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [98]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [105]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  0.961458 -2.141212
   2  0.992573  1.192241
   3 -1.046780  1.292765
G2 1 -1.467514 -0.494095
   2 -0.162535  0.485809
   3  0.392489  0.221491

In [104]:
df1= pd.DataFrame(np.random.randn(6,2), index=hier_index, columns = 'A B'.split())
df1

             A         B
G1 1 -0.376519  0.230336
   2  0.681209  1.035125
   3 -0.031160  1.939932
G2 1 -1.005187 -0.741790
   2  0.187125 -0.732845
   3 -1.382920  1.482495

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [106]:
df.loc['G1']

          A         B
1  0.961458 -2.141212
2  0.992573  1.192241
3 -1.046780  1.292765

In [107]:
df1.loc['G1']

          A         B
1 -0.376519  0.230336
2  0.681209  1.035125
3 -0.031160  1.939932

In [263]:
df.loc['G1'].loc[1]

A    0.153661
B    0.167638
Name: 1, dtype: float64

In [108]:
df1.loc['G1'].loc[2]

A    0.681209
B    1.035125
Name: 2, dtype: float64

In [109]:
df.index.names

FrozenList([None, None])

In [123]:
df.index.names = ['Group','Num']

In [267]:
df

                  A         B
Group Num
G1    1    0.153661  0.167638
      2   -0.765930  0.962299
      3    0.902826 -0.537909
G2    1   -1.549671  0.435253
      2    1.259904 -0.447898
      3    0.266207  0.412580

In [116]:
df.xs('G1')

          A         B
1  0.961458 -2.141212
2  0.992573  1.192241
3 -1.046780  1.292765

In [117]:
df

             A         B
G1 1  0.961458 -2.141212
   2  0.992573  1.192241
   3 -1.046780  1.292765
G2 1 -1.467514 -0.494095
   2 -0.162535  0.485809
   3  0.392489  0.221491

In [120]:
df.xs(('G1',1))

A    0.961458
B   -2.141212
Name: (G1, 1), dtype: float64

In [124]:
df.xs(1,level='Num')

              A         B
Group
G1     0.961458 -2.141212
G2    -1.467514 -0.494095

# Great Job!